.about-img1 {
    width: 150px;
    height: 210px;
}

.about-img2 {
    width: 180px;
    height: 210px;
}

.about-proj-desc {
    width: 275px;
    padding: 1em;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.about-proj-desc h2 {
    margin-bottom: .5em;
}
