.about-with-p {
    padding: 0 10vw;
    margin-top: 4em;
    /* font-weight: 600; */
    /* color: #333; */
}

.about-img-cnt {
    margin: 2em 0;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-items: center;
}

