.footer {
    width: 100%;
    color: white;
    margin-top: 3em;
    padding: 1em 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.footer-cnt {
    justify-content: space-evenly;
}

.vk-logo {
    width: 50px;
    margin-left: -5px;
}

.footer .mrg-bot {
    margin-bottom: .75em;
}

@media only screen and (max-width: 800px) {
	.vk-logo {
		width: 40px;
	}
}
