.youtube {
    width: 50vw;
    height: 450px;
}

@media only screen and (max-width: 1080px) {
    .youtube {
        width: 60vw;
        height: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .youtube {
        width: 70vw;
        height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .youtube {
        width: 80vw;
        height: 300px;
    }
}
